html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.wave-header {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  position: absolute; /* Mengubah dari relative ke absolute */
  top: 0;
  left: 0;
  z-index: -1; /* Menambahkan z-index yang rendah untuk berada di bawah elemen lain */
}
svg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.wave-header .svg2 {
  position: fixed;
  bottom: 16%;
  right: -30%;
}
.wave-header .svg3 {
  position: fixed;
  bottom: 15%;
  left: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.514);
  top: 0;
  left: 0;
  right: 0;
  z-index: 888;
}

.logo-left img,
.logo-right img {
  width: 50px;
  height: auto;
  margin: 4px 5px;
}

.title {
  flex-grow: 1;
  font-family: "Font1", sans-serif;
}

.title h1 {
  font-size: 19px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.icon-bem {
  width: 22px;
  height: auto;
  margin-right: 5px;
}

/* atas */
.organization-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9%;

padding: 0 5%;
}

.left-side {
 text-align: center;
  align-items: center;
}

.logo .bem {
  width: 240px; /* Adjusted width for better alignment */
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.432);
}

.text-bem {
  text-align: center;
}

.text-bem h2 {
  margin-bottom: -20px;
  font-size: 28px;
  color: rgb(37, 37, 37);
 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.text-bem p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  
  color: rgb(37, 37, 37);
}

.right-side img {
  width: 700px; /* Adjusted width for better alignment */
  height: auto;
  display: block;
  border-radius: 50px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.267);
}


#welcome-message {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 10%;
}
#welcome-message h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.proker {
  margin: 0 auto;

  margin-top: 20px;
  padding: 15px;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
}
.text-proker {
  margin-top: 10px;
  margin-bottom: 20px;
}
.text-proker h2 {
  font-size: 25px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-proker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.card {
  width: 340px;
  height: 240px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  margin: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.card-header.green {
  background-color: #4caf50;
}
.card-header.blue {
  background-color: #2196f3;
}
.card-body {
  flex: 1;
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: white; /* Text color for better readability over the background image */
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
}
.card-footer .icon {
  width: 36px;
  height: 26px;
  background-color: #dddddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-footer .sertifikat {
  font-size: 15px;
  width: auto;
  height: 24px;
  padding: 5px;
  color: black;
  background-color: #0cff71;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-footer .sertifikat:hover {
  background-color: #35ec81;
}

footer {
  background-color: #525252;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

.bawah {
  width: 100%;
  max-width: 1200px; /* Optional: jika Anda ingin batasi lebar maksimum */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  margin: 0;
}
.footer-left p a {
  text-decoration: none;
  color: rgb(59, 193, 255);
}
.footer-left p a:hover {
  color: white;
}
.footer-right nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-right nav ul li {
  margin-right: 20px;
}

.footer-right nav ul li:last-child {
  margin-right: 0;
}

.footer-right nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-right nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .logo-left img,
  .logo-right img {
    width: 40px; /* Sesuaikan ukuran logo */
  }
  .title {
    font-size: 11px;
  }
  svg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400%;
    z-index: -1;
  }
  .wave-header .svg2 {
    width: 300%;
    position: fixed;
    bottom: 18%;
    right: -30%;
  }
  .wave-header .svg3 {
    width: 400%;
    position: fixed;
    bottom: 10%;
    transform: rotate(5deg);
    left: -15px;
  }
  .organization-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 23%;
  
  }
  
  .left-side {
   text-align: center;
    margin-bottom: 20px;
 
  }
  
  .logo .bem {
    width: 220px; /* Adjusted width for better alignment */
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.432);
  }
  
  .text-bem {
    text-align: center;
   
  }
  
  .text-bem h2 {
    margin-bottom: -20px;
    font-size: 25px;
    color: rgb(37, 37, 37);
   
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .text-bem p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 23px;
    
    color: rgb(37, 37, 37);
  }
  
  .right-side img {
    width: 400px; /* Adjusted width for better alignment */
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.267);
  }
  
  
  #welcome-message {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 17%;
  }
  #welcome-message h1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .proker {
    width: 89%;
    border-radius: 9px;
    margin-top: 10%;
  }
  footer {
    bottom: 0;
    padding: 15px 0; /* Ubah padding agar lebih ramping */
  }
  .bawah {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-right nav ul {
    justify-content: center;
  }
  .footer-right nav ul li {
    margin: 0 10px;
  }
}
@media (max-width: 440px) {
  .wave-header {
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    position: absolute; /* Mengubah dari relative ke absolute */
    top: 0;
    left: 0;
    z-index: -1; /* Menambahkan z-index yang rendah untuk berada di bawah elemen lain */
  }
  svg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 600%;
    z-index: -1;
  }
  .wave-header .svg2 {
    width: 500%;
    position: fixed;
    bottom: 30%;
    right: -30%;
  }
  .wave-header .svg3 {
    width: 500%;
    position: fixed;
    bottom: 15%;
    transform: rotate(5deg);
    left: -15px;
  }
  .logo-left img,
  .logo-right img {
    width: 40px;
  }

  .title {
    font-size: 11px;
  }

  .organization-header {
    margin-top: 30%;
  }
  
  .left-side {
    margin-bottom: 20px;
  }
  
  .logo .bem {
    width: 170px; /* Adjusted width for better alignment */
  }
  
  .text-bem {
    text-align: center;
  }
  
  .text-bem h2 {
    margin-bottom: -20px;
    font-size: 21px;
   
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .text-bem p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    
    color: rgb(37, 37, 37);
  }
  
  .right-side img {
    width: 330px; /* Adjusted width for better alignment */
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.267);
  }
  
  
  #welcome-message {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 20%;
  }
  #welcome-message h1 {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #greeting {
    font-size: 2rem;
    color: #333; /* Warna teks */
    font-family: Arial, sans-serif; /* Jenis font */
    overflow: hidden; /* Mengatur overflow agar animasi teks dapat bekerja */
    border-right: 0.15em solid orange; /* Animasi cursor seperti mengetik */
    white-space: nowrap; /* Agar teks tidak berjalan ke bawah */
    margin: 0 auto; /* Memusatkan teks */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  /* Animasi untuk efek mengetik */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .proker {
    width: 88%;
    border-radius: 9px;
  }
  .text-proker {
    margin-bottom: -10px;
  }
  .text-proker h2 {
    font-size: 24px;
  }
  footer {
    padding: 10px 0; /* Ubah padding agar lebih ramping */
  }
  .bawah {
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-right nav ul {
    justify-content: center;
    text-align: center;
  }
  .footer-right nav ul li {
    margin: 0 10px;
  }
}
